<section class="section form-block">
  <div class="container form-block-container">
    <div class="form-block-content">
      <h2 class="section__heading form-block__heading">Форма с кнопкой</h2>
      <form class="form-block-form">
        <h3 class="form-block-form__title">
          Оставь телефон и получи что-то офигенное
        </h3>
        <input
          type="tel"
          class="form-block-form__input"
          placeholder="Введите номер"
        />
        <button class="form-block-form__button">Получить</button>
        <img
          class="form-block-form__svg"
          src="./images/hand.png"
          alt=""
          width="25"
          height="33"
        />
      </form>
    </div>
  </div>
</section>
