<section class="section slider-block">
  <div class="slider-block-container">
    <h2 class="container section__heading slider-block__heading">
      Тут у нас слайдер
    </h2>
    <div class="slider slider-block-slider">
      <div class="slider-wrapper slider-block-wrapper">
        <div class="slider__item">
          <div class="slider-block-slider-item">
            <img
              class="slider-block-slider-item__img"
              src="./images/img1.png"
              alt="image 1"
            />
          </div>
        </div>
        <div class="slider__item">
          <div class="slider-block-slider-item">
            <img
              class="slider-block-slider-item__img"
              src="./images/img2.png"
              alt="image 2"
            />
          </div>
        </div>
        <div class="slider__item">
          <div class="slider-block-slider-item">
            <img
              class="slider-block-slider-item__img"
              src="./images/img3.png"
              alt="image 3"
            />
          </div>
        </div>
      </div>
      <div class="slider-pagination">
        <div class="slider-pagination__item" id="0">
          <div class="slider-pagination__item_active"></div>
        </div>
        <div class="slider-pagination__item" id="1"></div>
        <div class="slider-pagination__item" id="2"></div>
      </div>
    </div>
  </div>
</section>
